<div class="container">
  <!-- <img id="login-logo" src="assets/logo/logo.png" alt=""> -->

  <div id="login-form-container">
    <mat-tab-group>
      <mat-tab label="Login">
        <div class="tab-container">
          <mat-card id="login-card">
            <h2 class="pl-3">Login</h2>

            <form [formGroup]="loginForm">
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  type="email"
                  placeholder="exemplo@exemplo.com"
                  formControlName="email"
                  required
                />
                <mat-error *ngFor="let validation of account_validation_messages.email">
                  <mat-error class="error-message" *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">{{validation.message}}</mat-error>
                </mat-error>

                <mat-icon color="primary" matSuffix>email</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline" class="form-field">
                <mat-label>Coloque sua senha</mat-label>
                <input
                  matInput
                  [type]="hidePassword ? 'password' : 'text'"
                  formControlName="password"
                  required
                />
                <mat-error *ngFor="let validation of account_validation_messages.password">
                  <mat-error class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">{{validation.message}}</mat-error>
                </mat-error>
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hidePassword = !hidePassword"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePassword"
                >
                  <mat-icon color="primary">{{
                    hidePassword ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
              </mat-form-field>

              <button mat-button color="primary">esqueceu a senha?</button>

              <button id="login-button" class="btn-block" mat-raised-button>
                Entrar
              </button>
            </form>
          </mat-card>

          <h1 id="or-tag">ou</h1>

          <div class="d-flex justify-content-around">
            <button id="google-sign-in" mat-button color="primary">
              <img src="assets/icons/google.png" alt="" /> google
            </button>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Registar">
        <div class="tab-container">
          <mat-card id="login-card">
            <h2 class="pl-3">Registrar</h2>
            <form [formGroup]="registerForm">
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>Nome</mat-label>
                <input
                  matInput
                  placeholder="exemplo@exemplo.com"
                  formControlName="name"
                  required
                />
                <mat-error *ngFor="let validation of account_validation_messages.name">
                  <mat-error class="error-message" *ngIf="registerForm.get('name').hasError(validation.type) && (registerForm.get('name').dirty || registerForm.get('name').touched)">{{validation.message}}</mat-error>
                </mat-error>
                <mat-icon color="primary" matSuffix>person</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline" class="form-field">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  placeholder="exemplo@exemplo.com"
                  formControlName="email"
                  required
                />
                <mat-error *ngFor="let validation of account_validation_messages.email">
                  <mat-error class="error-message" *ngIf="registerForm.get('email').hasError(validation.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)">{{validation.message}}</mat-error>
                </mat-error>
                <mat-icon color="primary" matSuffix>email</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline" class="form-field">
                <mat-label>Coloque sua senha</mat-label>
                <input
                  matInput
                  [type]="hidePassword ? 'password' : 'text'"
                  formControlName="password"
                  required
                />
                <mat-error *ngFor="let validation of account_validation_messages.password">
                  <mat-error class="error-message" *ngIf="registerForm.get('password').hasError(validation.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)">{{validation.message}}</mat-error>
                </mat-error>
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hidePassword = !hidePassword"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePassword"
                >
                  <mat-icon color="primary">{{
                    hidePassword ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
              </mat-form-field>

              <mat-form-field appearance="outline" class="form-field">
                <mat-label>Confirme sua senha</mat-label>
                <input
                  matInput
                  [type]="hideConfirmPassword ? 'password' : 'text'"
                  formControlName="confirmPassword"
                  [errorStateMatcher]="matcher"
                />
                <mat-error *ngIf="registerForm.hasError('notSame')">
                  senhas não são iguais
                </mat-error>
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hideConfirmPassword = !hideConfirmPassword"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hideConfirmPassword"
                >
                  <mat-icon color="primary">{{
                    hideConfirmPassword ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
              </mat-form-field>

              <button id="login-button" class="btn-block" mat-raised-button>
                Registrar
              </button>
            </form>
          </mat-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
