#navbar {
  width: 100%;
  /* height: 50px; */
  background-color: var(--color-background);
}

#logo{
  margin-left: 16px;
  width: 1.9%;
  height: 1.9%;
}

#navbar-container {
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: start;
}

#navbar-container h1 {
  padding-left: 20px;
  flex: 1;
  margin: 0;
}

#navbar-container h3 {
  padding-right: 16px;
  margin: 0;
}

