<app-nav-bar></app-nav-bar>

<div class="container mb-5">
  <div id="tab-group-container">
    <mat-tab-group>
      <!-- TAB DE REGISTRO DOS ITENS -->
      <mat-tab label="Registro">
        <div class="register-tab-container p-5">
          <form>
            <mat-form-field appearance="outline">
              <mat-label>Itens</mat-label>
              <mat-select>
                <mat-option value="Mangueira">Mangueira de gás</mat-option>
                <mat-option value="Valvula">Válvula de gás</mat-option>
                <mat-option value="Extintor">Extintor de incêndio</mat-option>
              </mat-select>
            </mat-form-field>

            <div class="card">
              <img
                class="card-img-top"
                src="../../../assets/img/valvula validade.png"
                alt=""
              />
            </div>

            <mat-form-field appearance="outline">
              <mat-label>Escolha a Data</mat-label>
              <input matInput [matDatepicker]="picker" />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <!-- google maps -->
            <div *ngIf="apiLoaded | async">
              <google-map
                width="100%"
                [center]="center"
                [zoom]="zoom"
                (mapClick)="addMarker($event)"
              >
                <map-marker
                  [position]="markerPosition"
                  [options]="markerOptions"
                ></map-marker>
              </google-map>
            </div>

            <!--Botão Confirmar  -->
            <section>
              <div class="button_row">
                <button mat-raised-button color="warn">Confirmar</button>
              </div>
            </section>
          </form>
        </div>
      </mat-tab>

      <!-- TAB COM OS ITENS -->
      <mat-tab label="First">
        <mat-form-field>
          <mat-label>Filtro</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Ex. valvula"
            #input
          />
        </mat-form-field>
        <table
          mat-table
          [dataSource]="dataSource"
          matSort
          multiTemplateDataRows
          class="mat-elevation-z8"
        >
          <ng-container
            matColumnDef="{{ column }}"
            *ngFor="let column of columnsToDisplay"
          >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ column }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td
              mat-cell
              *matCellDef="let element"
              [attr.colspan]="columnsToDisplay.length"
            >
              <div
                class="example-element-detail"
                [@detailExpand]="
                  element == expandedElement ? 'expanded' : 'collapsed'
                "
              >
                <h1>it works</h1>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr
            mat-row
            *matRowDef="let element; columns: columnsToDisplay"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="
              expandedElement = expandedElement === element ? null : element
            "
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: ['expandedDetail']"
            class="example-detail-row"
          ></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              nenhum dado encontrado com o filtro: "{{ input.value }}"
            </td>
          </tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
        ></mat-paginator>
      </mat-tab>
      <mat-tab label="Second">
        <!-- segunda tab -->
        <div id="table-container">
          <div class="mat-elevation-z8">
            <div class="loading-shade" *ngIf="isLoadingResults">
              <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            </div>
            <mat-form-field>
              <mat-label>Filtro</mat-label>
              <input
                matInput
                (keyup)="applyFilter($event)"
                placeholder="Ex. valvula"
                #input
              />
            </mat-form-field>

            <table
              mat-table
              [dataSource]="dataSource"
              matSort
              class="mat-elevation-z8"
            >
              <!-- Position Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>id.</th>
                <td mat-cell *matCellDef="let itens">{{ itens.id }}</td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>nome</th>
                <td mat-cell *matCellDef="let itens">{{ itens.nome }}</td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="perfil">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  perfil
                </th>
                <td mat-cell *matCellDef="let itens">{{ itens.perfil }}</td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="gps">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  endereço
                </th>
                <td mat-cell *matCellDef="let itens" id="gps_td">
                  {{ itens.gps }}
                </td>
              </ng-container>

              <ng-container matColumnDef="validade">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  validade
                </th>
                <td mat-cell *matCellDef="let itens">{{ itens.validade }}</td>
              </ng-container>

              <ng-container matColumnDef="email_op">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  email_op
                </th>
                <td mat-cell *matCellDef="let itens">{{ itens.email_op }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">
                  nenhum dado encontrado com o filtro: "{{ input.value }}"
                </td>
              </tr>
            </table>

            <!-- paginator -->
            <mat-paginator
              [pageSizeOptions]="[5, 10, 20]"
              showFirstLastButtons
            ></mat-paginator>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
